# node_modules
# # Keep environment variables out of version control
# .env

# /src/generated/prisma

# .env.*
# !.env.example


# Dependencies
node_modules/

# Build
dist/

# Test / coverage
coverage/

# Environment variables
.env
.env.*
!.env.example

# Prisma generated client
/src/generated/prisma/

# Logs
*.log

# OS files
.DS_Store